{% extends "./layouts/default.twig" %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1>GContacts // <a href="{{route('home')}}">{{ session('hd') }}</a> // Delete {{ contact.getName.getFullName }}</h1>
        </div>
    </div>
    <form action="{{ route('contacts.delete', [contact.shortID]) }}" method="post">
        <input type="hidden" name="_token" value="{{ csrf_token() }}" />
    <div class="row">

        <div class="col-lg-12">
            <p>If you are sure you want to delete {{ contact.getName.getFullName }}, press Yes:</p>
            <p><input type="submit" class="btn btn-danger btn-lg" name="delete" value="Yes, delete {{ contact.getName.getFullName }}" /></p>
        </div>
    </div>
    </form>
{% endblock %}