{% extends "./layouts/default.twig" %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1>GContacts // <a href="{{route('home')}}">{{ session('hd') }}</a> // Delete {{ contact.getName.getFullName }}</h1>
        </div>
    </div>
    <form action="{{ route('reallymassdelete') }}" method="post">
        <input type="hidden" name="_token" value="{{ csrf_token() }}" />
    <div class="row">

        <div class="col-lg-12">
            <p>If you are sure you want to delete ALL OF THESE PEOPLE, press Yes:</p>

            <ul>
                {% for contact in contacts %}
                    <li>
                        {{ contact.name }}
                        <input type="hidden" name="code[{{ loop.index0 }}]" value="{{ contact.code }}" />
                        <input type="hidden" name="etag[{{ loop.index0 }}]" value="{{ contact.etag}}" />
                    </li>
                {% endfor %}
            </ul>

            <p><input type="submit" class="btn btn-danger btn-lg" name="delete" value="Yes, delete {{ contact.getName.getFullName }}" /></p>
        </div>
    </div>
    </form>
{% endblock %}