{% extends "./layouts/default.twig" %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1>GContacts // <a href="{{route('home')}}">{{ Session.get('hd') }}</a> // Delete {{ contact.getName.getFullName }}</h1>
        </div>
    </div>
    {{Form.open({url:'reallymassdelete'})}}
    <div class="row">

        <div class="col-lg-12">
            <p>If you are sure you want to delete ALL OF THESE PEOPLE, press Yes:</p>

            <ul>
                {% for contact in contacts %}
                    <li>
                        {{ contact.getName.getFullName }}
                        {{ Form.hidden('code[]',contact.getShortId) }}
                    </li>

                {% endfor %}
            </ul>

            <p><input type="submit" class="btn btn-danger btn-lg" name="delete" value="Yes, delete {{ contact.getName.getFullName }}" /></p>
        </div>
    </div>
    {{ Form.close }}
{% endblock %}